services:
  registry:
    image: sonatype/nexus3:3.81.1
    container_name: nexus
    restart: unless-stopped
#    environment:
#      - http_proxy=http://172.30.97.33:8080
#      - https_proxy=http://172.30.97.33:8080
#      - no_proxy=localhost,127.0.0.1,cloud.ir,.cloud.lab,.cloud.ir,registry.dev.soft.cloud.ir:5000,172.30.97.33,172.16.178.0/24,172.16.110.116,10.200.0.0/24,vra.cloud.lab,local-repos.asiatech.cloud,172.16.0.0/12
#      - JAVA_OPTS=-Dhttp.proxyHost=172.30.97.33 -Dhttp.proxyPort=8080 -Dhttps.proxyHost=172.30.97.33 -Dhttps.proxyPort=8080

    volumes:
      - ./nexus-data:/nexus-data
    ports:
      - "8081:8081"
      - "8085:8085"
      - "8082:8082"
      - "8083:8083"
      - "5000:5000"
  gateway:
    image: nginx:1.12.0
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"

    restart: unless-stopped
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certs:/etc/nginx/certs
